# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Flet build artifacts
.flet/

# Editor / OS
.idea/
.vscode/
.DS_Store
